body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.navbar {
  background: #111;
  color: white;
  padding: 15px;
  text-align: center;
}

.container {
  padding: 20px;
}

.cards {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  background: white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.upload-box,
.table-container {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

button {
  margin-left: 10px;
  padding: 5px 15px;
  background: #0066ff;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

.high {
  color: red;
  font-weight: bold;
}

.low {
  color: green;
}

.footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 10px;
}
